name: Terraform linting
on:
  push:
    paths: ['**/*.tf', '**/*.hcl', '.github/workflows/ci-terraform.yml']
env:
  TF_IN_AUTOMATION: true
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache
jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        show-progress: false

    - name: Determine Terraform version to use
      uses: dflook/terraform-version@8ee89d962417ed259f9d75e7529e262637c7e5a8 # v2.2.3
      id: terraform-version

    - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      with:
        terraform_version: ${{ steps.terraform-version.outputs.terraform }}
        terraform_wrapper: false

    - name: Create Terraform plugin cache dir
      run: mkdir -p "$TF_PLUGIN_CACHE_DIR"

    - name: Cache Terraform plugins
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ env.TF_PLUGIN_CACHE_DIR }}
        key:
          terraform-plugins-${{ runner.os }}-${{ hashFiles('**/.terraform.lock.hcl') }}

    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      name: Cache TFLint plugins
      with:
        path: ~/.tflint.d/plugins
        key: tflint-${{ runner.os }}-${{ hashFiles('**/tflint.hcl') }}

    - uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1
      name: Set up TFLint
      with:
        tflint_version: v0.47.0

    - name: terraform fmt
      run: |
        if ! terraform fmt -check -diff -list=true -recursive .; then
          >&2 echo "Some terraform files weren't formatted correctly. Run 'terraform fmt' to fix them."
          exit 1
        fi

    - name: terraform init
      run: |
        STEP_EXIT_STATUS=0
        for d in */; do
          echo "$d"
          cd "$d"
          if ! terraform init -backend=false; then STEP_EXIT_STATUS=1; fi
          cd "$OLDPWD"
          echo -e '\n-------------------------\n'
        done
        exit $STEP_EXIT_STATUS

    - name: terraform validate
      run: |
        STEP_EXIT_STATUS=0
        for d in */; do
          echo "$d"
          cd "$d"
          if ! terraform validate; then STEP_EXIT_STATUS=1; fi
          cd "$OLDPWD"
          echo -e '\n-------------------------\n'
        done
        exit $STEP_EXIT_STATUS

    - name: tflint
      run: |
        tflint --version
        tflint --init --recursive 
        tflint --format compact --module --recursive --force \
            --enable-rule=terraform_comment_syntax \
            --enable-rule=terraform_deprecated_index \
            --enable-rule=terraform_required_providers \
            --enable-rule=terraform_standard_module_structure \
            --enable-rule=terraform_typed_variables \
            --enable-rule=terraform_unused_declarations \
            --enable-rule=terraform_unused_required_providers
